body {
  display: flex;
  flex-wrap: wrap;
}
.title {
  width: 1000px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  cursor: pointer;
  transition: 0.8s;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 100px;
  animation: rotation 2s ease 0s 1 alternate none running;
}

@keyframes rotation {
  0% {
    transform: scale(.3);
  }
  50% {
    transform: scale(.6) rotate(-45deg);
    background: red;
  }
  100% {
    transform: scale(1) rotate(180deg);
    background: blue;
  }
}

.circle {
  background-color: pink;
  border-radius: 50%;
  transform: rotate(360deg);
}
.win {
  font-weight: bold;
  background-color: pink;
  border-radius: 50%;
  transform: rotate(360deg);
}
.lose {
  font-weight: bold;
  transform: scale(0.9);
}